* {
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-image: url('/img/castanho1.jpg'); */
    background-color: black;
    background-size: cover;   
}

.foto {
    max-width: 80px;
    margin-bottom: -120px;
    z-index: 0;
    border-radius: 50%;
    margin-top: 20px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: black;
}

h2 {
    display: flex;
    color: #d9a7aa;
    margin-top: -80px;
    font-family: constantia;
    font-size: 16px;
    box-sizing: border-box;
}

.logo {
    max-width: 400px;
    border-radius: 50%;
}

h1 {
    font-family: constatina;
    text-align: center;
    margin-top: -5px;
    color: #d9a7aa;
    padding-top: 30px;
}

.imagens {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 300px;
    margin-top: 20px;
    gap: 20px
}

.icones {
    border-radius: 50%;
}

/* //Projeto Finalizado */