* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    color: black;
    background: black;
}

.logo {
    max-width: 400px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    color: #d199ac;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,88,192,1) 100%, rgba(0,212,255,1) 100%);